@page "/"
@inject HttpClient http

<h1>Teste</h1>
@if (tasks==null)
{
    <p>Carregando...</p>
}
else if(!tasks.Any())
{
    <p>Ainda nao existe tarefa</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Description</th>
                <th>Concluida</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in tasks)
            {
            <tr>
                <td>@item.DateCriateded</td>
                <td>@item.Description</td>
                <td>@item.Concluded</td>
            </tr>
            }

        </tbody>
    </table>
}
@code
{
    protected override async Task OnInitializedAsync()
    {
        tasks = await http.GetFromJsonAsync<List<Tasks>>("data/tasks.json");
    }

    public class Tasks
    {
        public Guid ID { get; set; }
        public string Description { get; set; }
        public bool Concluded { get; set; }
        public DateTime DateCriateded { get; set; }
    }

    private string newTask = "";

    private List<Tasks> tasks = new List<Tasks>();
}