@page "/"
@inject HttpClient http
<h1>SharedTarefas</h1>

<SharedTasks tasks="GetTasks()" Titulo="Lista De Tarefas"/>

@code
{
    List<Tasks> tasks = new List<Tasks>();
    protected override async Task OnInitializedAsync()
    {
        tasks = await http.GetFromJsonAsync<List<Tasks>>("data/tasks.json");
    }

    private List<Tasks> GetTasks()
    {
        return tasks;
    }
}