<div>
    @if(Conteudo1==null)
    {
        <span style="color:red">Generic Text</span>
    }
    else
    {
        @Conteudo1
    }
</div>
<div>
    @if (Conteudo2==null)
    {
        <span style="Color:lightcoral"></span>
    }
    else
    {
        @Conteudo2
    }
</div>

    @code {
        
        [Parameter] public RenderFragment Conteudo1 { get; set; }
        [Parameter] public RenderFragment Conteudo2 { get; set; }
    }
