<div>
    @if(@ChildContent==null)
    {
        <span style="color:red">Generic Text</span>
    }
    else
    {
        @ChildContent
    }
</div>

    @code {
        
        [Parameter] public RenderFragment ChildContent { get; set; }
    }
