<h1>@Titulo</h1>



<h1>Teste</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Action</th>
                <th>Data</th>
                <th>Description</th>
                <th>Concluida</th>
            </tr>
        </thead>
        <tbody>
            
            <GenericList ListItem="tasks">
                
                <List Context="newTask">

                    <EachTask item="newTask" ToRemoveTask="DeleteTasks" />


                </List>
                
            </GenericList>
             
        </tbody>
    </table>

@if (tasks != null)
{
    <div class="form-group">
        <label>Tasks</label>
        <input type="text" placeholder="type the new task" @bind="newTask" />
        <button class="btn btn-primary" @onclick="AddNewItem">Add New Item</button>
    </div>

}
@code
        {
    [Parameter] public List<Tasks> tasks { get; set; }
    [Parameter] public string Titulo { get; set; }



    private string newTask = "";

    

    void AddNewItem()
    {
        if (!string.IsNullOrWhiteSpace(newTask))
        {
            tasks.Add(new Tasks
            {
                DateCriateded = DateTime.Now,
                Description = newTask,
                ID = Guid.NewGuid()
            });
            newTask = "";
        }
    }
    void DeleteTasks(Tasks tasksID)
    {
        tasks.Remove(tasks.First(x => x.ID == tasksID.ID));
    }
}
